html, body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-image: url("../images/movies.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-color:gray;
  background-blend-mode: soft-light;
  color: white;
}

svg {
  font: 10px sans-serif;
  text-align: center;
  display: block;
  margin: auto;
}

  rect {
  stroke: white;
  display: block;
  }

  text {
    font-size: 10px;
  }
